.paragraph {
  text-transform: capitalize;
  font-size: 1rem;
  font-family: Solberry;
  white-space: break-spaces;
}

.paragraph > span {
  text-transform: none;
}

.elegant > span {
  display: inline-block;
}

.elegant > span::first-letter {
  float: left;
  font-family: Cambridge;
  font-size: 8rem;
  line-height: 6rem;
  color: #222;
}
