.paragraph {
  margin: 0px;
  text-indent: 0.2cm;
  text-transform: capitalize;
  font-size: 0.345cm;
  font-family: BookSanity;
  white-space: break-spaces;
}

.paragraph > span {
  text-transform: none;
}

.elegant > span {
  display: inline-block;
}

.elegant > span::first-letter {
  float: left;
  font-family: 'Solbera Imitation';
  font-size: 1.8cm;
  line-height: 1.3cm;
  color: #222;
}
